@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    background-color: #222;
    color: white;
    height: calc(100vh - 8rem);
}

header,
footer {
    background: #EEE;
    color: black;
}

header,
footer {
    height: 4rem;
}
